<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].doctorWorkingDetails}}</h5>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <form #doctorForm="ngForm">
    <div *ngIf="dummid!=null" class="row" style="margin-top: 20px;">
      <div class="col-lg-2">
        <label>{{labels[0].doctor}} : </label>
        <span class="requird">*</span>
      </div>
      <div class="col-lg-4">
        <!-- <select class="form-control" (change)="GetDoctorID($event)" [(ngModel)]="doctorid" name="doctorid"
          [disabled]="tablecount=='1'">
          <option value="" selected>{{labels[0].select}}</option>
          <option *ngFor="let doctor of doctorlist" value={{doctor.id}}>{{doctor.doctorName}}</option>
        </select> -->
        <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="tablecount=='1'" [data]="doctorlist"
          [settings]="docdd" (onSelect)="GetDoctorID($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <br>
    <div *ngIf="dummid==null">
      <div class="row">
        <div class="col-lg-2">
          <label>Doctor Name : </label>
        </div>
        <div class="col-lg-4">
          <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="tablecount=='1'" [data]="doctorlist"
            [settings]="docdd" (onSelect)="GetDoctorID($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-2">
          <label>Hospital Name : </label>
        </div>
        <div class="col-lg-4">
          <input class="form-control" type="text" [(ngModel)]="hospital_ClinicName" id="hospital_ClinicName"
            name="hospital_ClinicName" placeholder="HospitalName" disabled>
        </div>
      </div>
      <br>
    </div>
    <!-- <div *ngIf="dummid==null">
      <div class="row">
        <div class="col-lg-2">
          <label>{{labels[0].hospital}} : </label>
          <span class="requird">*</span>
        </div>
        <div class="col-lg-8">
          <input type="radio" value="1" required [(ngModel)]="hospitalid" name="hospitalid"
            (change)="GetHospitalClinicid($event)">{{labels[0].hosptal}} &nbsp;&nbsp;
          <input type="radio" required value="2" [(ngModel)]="hospitalid" name="hospitalid"
            (change)="GetHospitalClinicid($event)">Clinic &nbsp;&nbsp;

          <input type="radio" required value="3" [(ngModel)]="hospitalid" name="hospitalid"
            (change)="GetHospitalClinicid($event)">Independent &nbsp;&nbsp;

          <input type="radio" required value="4" [(ngModel)]="hospitalid" name="hospitalid"
            (change)="GetHospitalClinicid($event)">Independent Video
        </div>
      </div>
      <br>
      <div>
        <div class="row" *ngIf="hospitalid!='3'&&hospitalid!='4'">
          <div class="col-lg-2">
            <label>{{labels[0].hospitalClinic}} : </label>
            <span class="requird">*</span>
          </div>
          <div class="col-lg-4">
            <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="tablecount=='1'" [data]="hospitallist"
              [settings]="hosdd" (onSelect)="GetHospitalID($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
      <br>
    </div> -->
    <!-- <div class="row">
      <div class="col-lg-2">
        <label>{{labels[0].appointmentType}} : </label>
      </div>
      <div class="col-lg-4">
        <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="tablecount=='1'" [data]="appointmenttype"
          [settings]="appointmentdd" (onSelect)="GetAppointmentTypeID($event)" (onDeSelect)="onItemDeSelect8($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <br>
    <div class="row" *ngIf="showid!='1'">
      <div class="col-lg-2">
        <label>{{labels[0].bookingType}} : </label>
        <span class="requird">*</span>
      </div>
      <div class="col-lg-4">
        <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="tablecount=='1'" [data]="bookingtype"
          [settings]="bookingtypedd" (onSelect)="GetBookingTpeID($event)" (onDeSelect)="onItemDeSelect7($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <br> -->
    <!-- <br>
    <div class="row">
      <div class="col-lg-2">
        <label>
          AVAILABILITY TYPE : </label>
        <span class="requird">*</span>
      </div>
      <div class="col-lg-4">
        <select class="form-control" (change)="GetAvailabilityID($event)" [disabled]="tablecount=='1'">
          <option value="" selected>Select</option>
          <option *ngFor="let availability of availabilitylist" value={{availability.id}}>{{availability.short}}
          </option>
        </select>
      </div>
    </div> -->

    <!-- <div class="row">
      <div class="col-lg-2">
        <label>{{labels[0].fees}}  : </label>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="fees" [(ngModel)]="fees" placeholder="{{labels[0].fees}} "
          [disabled]="tablecount=='1'" onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
      </div>
    </div><br> -->
    <div class="row">
      <div class="col-lg-2">
        <label>
          {{labels[0].day}}: </label>
        <span class="requird">*</span>
      </div>
      <div class="col-lg-4">
        <!-- <select class="form-control" (change)="GetDaysID($event)">
          <option value="" selected> {{labels[0].select}}</option>
          <option *ngFor="let days of  dayslist" value={{days.id}}>{{days.dayOfTheWeek}}</option>
        </select> -->

        <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="dayslist" [settings]="daysdd"
          (onSelect)="GetDaysID($event)" (onDeSelect)="GetDaysID($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <br>
    <!-- <div class="row" *ngIf="availabilityid=='1' || availabilityid=='2'">
      <div class="col-lg-2">
        <label>SESSION 1 : </label>
        <span class="requird">*</span>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" name="session1" required [(ngModel)]="session1" placeholder="Session 1">
      </div>
    </div>
    <br> -->
    <div class="row" *ngIf="availabilityid=='1' || availabilityid=='2'">
      <div class="col-lg-2">
        <label>SESSION 2 : </label>
        <span class="requird">*</span>
      </div>
      <div class="col-lg-4">
        <input class="form-control" type="text" required name="session2" [(ngModel)]="session2" placeholder="Session 2">
      </div>
    </div>
    <div class="row" *ngIf="availabilityid=='3'">
      <div class="col-lg-2">
        <label>{{labels[0].timings}} : </label>
        <span class="requird">*</span>
      </div>
      <div class="col-lg-4">
        <label>{{labels[0].morning}} : &nbsp;
          <br>
          <div>
            <input type="radio" [(ngModel)]="mrngAppointmenttype" name="mrngAppointmenttype" value="1"> &nbsp;
            {{labels[0].inclinic}}
            &nbsp;
            <input type="radio" [(ngModel)]="mrngAppointmenttype" name="mrngAppointmenttype" value="2"> &nbsp;
            {{labels[0].video}}

            &nbsp;
            <input type="radio" [(ngModel)]="mrngAppointmenttype" name="mrngAppointmenttype" value="5"> &nbsp;
            Home visit
          </div>
        </label>
        <br>

        <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="abcd==1" name="cleardropdown1"
          [(ngModel)]="cleardropdown1" [data]="slotslist" [settings]="slotsdd" (onSelect)="GetMorningSlotsID($event)"
          (onDeSelect)="onItemDeSelect($event)">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-lg-4">
        <label>{{labels[0].afternoon}}: &nbsp;
          <br>
          <div>
            <input type="radio" [(ngModel)]="afternoonappointmentType" name="afternoonappointmentType" value="1"> &nbsp;
            {{labels[0].inclinic}} &nbsp;
            <input type="radio" [(ngModel)]="afternoonappointmentType" name="afternoonappointmentType" value="2"> &nbsp;
            {{labels[0].video}} &nbsp;

            <input type="radio" [(ngModel)]="afternoonappointmentType" name="afternoonappointmentType" value="5"> &nbsp;
            Home Visit
          </div>
        </label>
        <br>
        <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="dis1==1" name="cleardropdown2"
          [(ngModel)]="cleardropdown2" [data]="slotslist1" [settings]="slotsdd1"
          (onSelect)="GetAfternoonSlotsID($event)" (onDeSelect)="onItemDeSelect1($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <br>
    <div class="row" *ngIf="availabilityid=='3'">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-4">
        <label>{{labels[0].evening}} :
          &nbsp;
          <br>
          <div>
            <input type="radio" [(ngModel)]="eveningappointmentType" name="eveningappointmentType" value="1"> &nbsp;
            {{labels[0].inclinic}} &nbsp;
            <input type="radio" [(ngModel)]="eveningappointmentType" name="eveningappointmentType" value="2"> &nbsp;
            {{labels[0].video}} &nbsp;
            <input type="radio" [(ngModel)]="eveningappointmentType" name="eveningappointmentType" value="5"> &nbsp;
            Home visit
          </div>
        </label>
        <br>
        <ng-multiselect-dropdown [placeholder]="SelectLabel" name="cleardropdown3" [disabled]="dis2==1"
          [(ngModel)]="cleardropdown3" [data]="slotslist2" [settings]="slotsdd2" (onSelect)="GetEveningSlotsID($event)"
          (onDeSelect)="onItemDeSelect2($event)">
        </ng-multiselect-dropdown>
      </div>
      <div class="col-lg-4">
        <label>{{labels[0].night}}:
          &nbsp;
          <br>
          <div>
            <input type="radio" [(ngModel)]="nightappointmenttype" name="nightappointmenttype" value="1"> &nbsp;
            {{labels[0].inclinic}}
            &nbsp;
            <input type="radio" [(ngModel)]="nightappointmenttype" name="nightappointmenttype" value="2"> &nbsp;
            {{labels[0].video}} &nbsp;
            <input type="radio" [(ngModel)]="nightappointmenttype" name="nightappointmenttype" value="5"> &nbsp;
            Home Visit
          </div>
        </label>

        <br>
        <ng-multiselect-dropdown [placeholder]="SelectLabel" name="cleardropdown4" [disabled]="dis3==1"
          [(ngModel)]="cleardropdown4" [data]="slotslist3" [settings]="slotsdd3" (onSelect)="GetNightSlotsID($event)"
          (onDeSelect)="onItemDeSelect3($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-5">
      </div>
      <div class="col-lg-2">
        <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor" (click)="adddetails()"
          [disabled]="doctorForm.form.invalid">{{labels[0].add}}</button>
      </div>
      <div class="col-lg-1">
        <div class="rectangle"><span style="margin-left: 5px;">{{labels[0].inclinic}}</span></div>
      </div>
      <div class="col-lg-1">
        <div class="vdioerect"> <span style="margin-left: 11px;">{{labels[0].video}}</span></div>
      </div>
      <div class="col-lg-1">
        <div class="homecare"><span style="margin-left: 11px;">Home Visit</span></div>
      </div>
    </div>
    <br>
    <div class="row" *ngIf="tablecount=='1'">
      <div class="col-lg-12" style="overflow: auto;">
        <table>
          <thead>
            <tr>
              <th *ngIf="hospitalid!='3'">{{labels[0].hospitalClinic}}</th>
              <!-- <th>AVAILABILITY TYPE</th> -->
              <th>{{labels[0].day}}</th>
              <!-- <th>{{labels[0].fees}}</th> -->
              <th *ngIf="availabilityid=='3'">{{labels[0].morning}}</th>
              <th *ngIf="availabilityid=='3'">{{labels[0].afternoon}}</th>
              <th *ngIf="availabilityid=='3'">{{labels[0].evening}}</th>
              <th *ngIf="availabilityid=='3'">{{labels[0].night}}</th>
              <th *ngIf="availabilityid=='1'||availabilityid=='2'">SESSiON1</th>
              <th *ngIf="availabilityid=='1'||availabilityid=='2'">SESSiON2</th>
              <th>{{labels[0].actions}}</th>
            </tr>
            <tr *ngFor="let details of qwerty">
              <td *ngIf="hospitalid!='3'">{{details.Hospital_Clinic}}</td>
              <!-- <td>{{details.DoctorAvailability}}</td> -->
              <td>{{details.Day}}</td>
              <!-- <td>{{details.Fees}}</td> -->
              <td *ngIf="availabilityid=='3'" [style.background-color]="details.MrngColorCode">{{details.Morning}}</td>
              <td *ngIf="availabilityid=='3'" [style.background-color]="details.Afternooncolorcode">
                {{details.Afternoon}}</td>
              <td *ngIf="availabilityid=='3'" [style.background-color]="details.Evngcolorcode">{{details.Evening}}</td>
              <td *ngIf="availabilityid=='3'" [style.background-color]="details.Nightcolorcode">{{details.Night}}</td>
              <td *ngIf="availabilityid=='1'||availabilityid=='2'">{{details.Session1}}</td>
              <td *ngIf="availabilityid=='1'||availabilityid=='2'">{{details.Session2}}</td>
              <td>
                <ng-template #tipcontent2>Delete</ng-template>
                <a [ngbTooltip]="tipcontent2">
                  <img src="assets/Images/dell.png" (click)="delete(details.Sno)"
                    style="width: 20px;margin-left: 10px;">
                </a>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <br>
    <div class="row" *ngIf="tablecount=='1'">
      <div class="col-lg-5">
      </div>
      <div *ngIf="active==0" class="col-lg-2">
        <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
          (click)="insertdetailsadmin()">{{labels[0].save}}</button>
      </div>
      <div *ngIf="active==1" class="col-lg-2">
        <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
          (click)="insertdetails()">{{labels[0].save}}</button>
      </div>
      <div class="col-lg-5">
      </div>
    </div>
    <br>
    <br>
  </form>
</div>
<br>
<br>