<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].doctorFeeDashboard}}</h5>
    </div>
    <div class="col-lg-7">
    </div>
    <div class="col-lg-2">
      <button *ngIf="languageid==1" type="button" routerLink="/DoctorFees" class="btn btncolor">Add Doctor Fees
      </button>
      <button *ngIf="languageid==6" type="button" routerLink="/DoctorFees" class="btn btncolor">Ajouter
      </button>
    </div>
  </div>
  <br>
</div>
<br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" name="term" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-7">
    </div>
    <div class="col-lg-2">
      <label *ngIf="languageid==1">
        <b>Count</b> : {{count}}
      </label>
      <label *ngIf="languageid==6">
        <b>Nombre</b> : {{count}}</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].doctor}}</th>
            <th>{{labels[0].mobileNo}}</th>
            <th>{{labels[0].country}}</th>
            <th>{{labels[0].province}}</th>
            <th>{{labels[0].city}}</th>
            <th>{{labels[0].hospitalClinic}}</th>
            <th id="imp">{{labels[0].appointmentstype}}</th>
            <th>{{labels[0].fees}}</th>
            <th>{{labels[0].doctorCommission}}</th>
            <th>{{labels[0].voildoccommssion}}</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr *ngFor="let list of doccommissionlist|filter:term">
            <td>{{list.doctorName}}</td>
            <td>{{list.mobileNumber}}</td>
            <td>{{list.country}}</td>
            <td>{{list.city}}</td>
            <td>{{list.areaName}}</td>
            <td>{{list.hospital_ClinicName}}</td>
            <td>{{list.treatmentPlan}}</td>
            <td>{{list.fees}}</td>
            <td>{{list.doctorCommission}}%</td>
            <td>{{list.voilaDocCommisiion}}%</td>
            <td>
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" style="width: 20px;margin-left: 10px;"
                  (click)="DeleteDoctorCommissionFees(list.id)">
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <br>
    <br>
  </div>
  <br>
  <br>
  <br>
</div>
<br>
<br>
<br>
<br>