<div class="container-fluid card card-hover">
  <br />
  <div class="row">
    <div class="col-lg-3">
      <!-- <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker> -->

      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
    </div>
    <br>
    <br>
    <div class="col-lg-3">
      <!-- <select class="form-control" (change)="GetHospitalID($event)">
        <option value="0">Select</option>
        <option *ngFor="let hos of hospitallist" value="{{hos.id}}">{{hos.hospital_ClinicName}}</option>
      </select> -->
      <ng-multiselect-dropdown [placeholder]="'Select Hospital'" [data]="hospitallist" [settings]="hospdd"
        (onSelect)="GetHospitalID($event)">
      </ng-multiselect-dropdown>
    </div>

    <div class="col-lg-3">
      <!-- <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="arealist" [settings]="areadd"
      (onSelect)="GetAreaID($event)">
    </ng-multiselect-dropdown> -->
      <select class="form-control" (change)="GetAreaID($event)">
        <option value="0">Select City</option>
        <option *ngFor="let area of arealist" value="{{area.id}}">{{area.areaName}}</option>
      </select>
    </div>
  </div>
</div>
<br />
<div class="container-fluid card card-hover">
  <br />
  <h4 style="text-align: center; font-family: Helvetica Neue, Helvetica,Arial,sans-serif;"></h4>
  <br />
  <div class="row">
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" *ngFor="let cou of hospitalrevenue">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">Hospital Revenue</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">{{cou.hospitalrevenue}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" *ngFor="let cou of allcounts">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">{{labels[0].totalDocRevenue}}</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">{{cou.totalamount}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" *ngFor="let cou of nursecount">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            {{labels[0].totalNurseRevenue}}</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">{{cou.nursetotalamount}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" *ngFor="let cou of midwifecount">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            {{labels[0].totalMidwifeRevenue}}</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">{{cou.paidAmount}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" *ngFor="let cou of physiocount">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            {{labels[0].totalPhysioRevenue}}</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">{{cou.paidAmount}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>

    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            Delivery Orders</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">0</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            Pharmacy Revenue</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">0</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            Diagnostic Center Revenue</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">0</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
  </div>
</div><br>

<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <ng-multiselect-dropdown [placeholder]="'Select Doctor'" [data]="inddoctorslist" [settings]="docdd"
        (onSelect)="GetDoctorID($event)">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3">
      <!-- <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="arealist" [settings]="areadd"
      (onSelect)="GetAreaID($event)">
    </ng-multiselect-dropdown> -->
      <select class="form-control" (change)="GetAreaIndependentDoctor($event)">
        <option value="0">Select City</option>
        <option *ngFor="let area of arealist" value="{{area.id}}">{{area.areaName}}</option>
      </select>
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" *ngFor="let cou of indepedentlist">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            Independent Doctor Revenue</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">{{cou.totalamount}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" *ngFor="let cou of indepedentlist">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            Independent Nurse Revenue</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">0</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" *ngFor="let cou of indepedentlist">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            Independent Midwife Revenue</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">0</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" *ngFor="let cou of indepedentlist">
        <br />
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            Independent Physiotherapist Revenue</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">0</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
  </div>
</div>