<div class="container-fluid card card-hover">
  <!-- <div class="col-lg-12" *ngFor="let details of faq">
      <p innerHTML="{{details.faq}}"></p>
    </div> -->
  <br>
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-7">
      <h4>{{labels[0].doctorTips}}</h4>
    </div>
    <div class="col-lg-4">
      <img src="assets/Images/logo.png" style="margin-top:5px;">
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let details of tipslist" style="overflow:auto">
    <div class="col-lg-12">
      <b>{{details.heading}}</b>
    </div>&nbsp;&nbsp;
    <div class="col-lg-10">
      <p innerHTML="{{details.description}}"></p>
      <div class="col-lg-2" *ngIf="details.image!=0" style="background-color: gray;color:white"> 
       <label (click)="GetPdf(details.image)" style="color:white">Images And Pdf</label>
      </div>&nbsp;&nbsp;
    </div>
  </div><br>
</div>