<div class="container-fluid card card:hover headerspace">
    <div class="row headerspace headercolor">
        <div class="col-lg-3">
            <h5>{{labels[0].refertodocr}}</h5>
        </div>
        <div class="col-lg-7">
        </div>
        <!-- <div class="col-lg-2">
        <button type="button" routerLink="/NurseDashboard" class="btn btncolor">{{labels[0].dashboard}}</button>
      </div> -->
    </div>
</div>
<div class="container-fluid card card:hover" style="margin-top:20px;">
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].patintIDd}}:</label>
            <span class="required">*</span>
        </div>
        <div class="col-lg-4">
            <input type="text" placeholder="Patient ID" disabled class="form-control" [(ngModel)]="patientidd"
                name="patientidd">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].patientName}}:</label>
            <span class="required">*</span>
        </div>
        <div class="col-lg-4">
            <input type="text" placeholder="Patient Name" disabled class="form-control" [(ngModel)]="patientname"
                name="patientname">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].phoneNoo}}:</label>
            <span class="required">*</span>
        </div>
        <div class="col-lg-4">
            <input type="number" name="mobileno" [(ngModel)]="mobileno" disabled class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].emaill}}:</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" disabled name="email" [(ngModel)]="email">
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].referTO}}:</label>
        </div>
        <div class="col-lg-8">
            <input type="radio" name="referaltypeid" [(ngModel)]="referaltypeid" value="1"
                (change)="GetReferencetypeID($event)">&nbsp; {{labels[0].internalDoctorr}} &nbsp;
            <input type="radio" name="referaltypeid" [(ngModel)]="referaltypeid" value="2"
                (change)="GetReferencetypeID($event)">&nbsp; {{labels[0].externalDoctorr}} &nbsp;
            <input type="radio" name="referaltypeid" [(ngModel)]="referaltypeid" value="3"
                (change)="GetReferencetypeID($event)">&nbsp;  {{labels[0].genralref}} &nbsp;
        </div>
    </div><br>

    <div class="row" *ngIf="referaltypeid=='1'"> 
        <div class="col-lg-12">
    <div class="row" >
        <div class="col-lg-3">
            <label class="dname_label">Country :</label>
        </div>
        <div class="col-lg-4">
            <!-- <select class="form-control" (change)="GetCountryID($event)">
                <option value="0">{{labels1[0].selectCountry}}</option>
                <option *ngFor="let couu of countrylist" value={{couu.id}}>{{couu.short}}</option>
            </select> -->

            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="countrylist" [settings]="countrydd"
                (onSelect)="GetCountryID($event)">
              </ng-multiselect-dropdown>
        </div>
    </div><br>
    
    <div class="row">
        <div class="col-lg-3">
            <label class="dname_label">Province :</label>
        </div>
        <div class="col-lg-4">
            <!-- <select class="form-control"  (change)="GetCityID($event)">
                <option value="0">{{labels1[0].selectProvince}}</option>
                <option *ngFor="let city of citylist" value={{city.id}}>{{city.short}}</option>
            </select> -->
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="citylist" [settings]="citydd"
                (onSelect)="GetCityID($event)">
              </ng-multiselect-dropdown>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <label class="dname_label">{{labels1[0].city}} :</label>
        </div>
        <div class="col-lg-4">
            <!-- <select class="form-control"  (change)="GetAreaID($event)">
                <option value="0">{{labels1[0].selectCity}}</option>
                <option *ngFor="let area of arealist" value={{area.id}}>{{area.areaName}}</option>
            </select> -->
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="arealist" [settings]="areadd"
                (onSelect)="GetAreaID($event)">
              </ng-multiselect-dropdown>

        </div>
    </div><br>
    <div class="row" >
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].department}} :</label>
        </div>
        <div class="col-lg-4">
            <select class="form-control" (change)="GetDepartmentID($event)" required [(ngModel)]="departmentid"
                name="departmentid">
                <option value="0" selected>{{labels[0].selectDepartment}}</option>
                <option *ngFor="let department of departmentlist" value={{department.id}}>{{department.departmentname}}
                </option>
            </select>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <label class="dname_label">Doctor :</label>
            <span class="required">*</span>
        </div>
        <div class="col-lg-4">
            <!-- <select class="form-control" (change)="GetDoctorID($event)">
                <option>{{labels[0].selectDoctor}}</option>
                <option *ngFor="let doc of referdoctorlist" value="{{doc.id}}">{{doc.doctorName}}</option>
            </select> -->
            <ng-multiselect-dropdown [placeholder]="'Select'" [data]="referdoctorlist" [settings]="docdd"
            (onSelect)="GetDoctorID($event)">
          </ng-multiselect-dropdown>
        </div>
    </div>
</div>
</div>
    <div class="row" *ngIf="referaltypeid=='2'">
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].doctorName}}:</label>
            <span class="required">*</span>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="doctorname" name="doctorname"  (ngModelChange)="Getdocname(doctorname)"   placeholder="{{labels[0].doctorName}}">
        </div>
    </div><br>
    <div class="row" *ngIf="referaltypeid=='2'">
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].email}} :</label>
            <span class="required">*</span>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels[0].email}}" name="doctoremail"
                [(ngModel)]="doctoremail">
        </div>
    </div><br>
    <div class="row" *ngIf="referaltypeid=='2'">
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].phoneNo}} :</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" name="docphoneno" placeholder="{{labels[0].phoneNo}}"
                [(ngModel)]="docphoneno">
        </div>
    </div><br>

    <div class="row" *ngIf="referaltypeid=='1'">
        <div class="col-lg-3">
          <label class="Email_label">SOAP Notes :</label>
      
        </div>
        <div class="col-lg-3">
          <input type="radio" name="soap"  [(ngModel)]="soap" [value]="1">Yes &nbsp;
          <input type="radio" name="soap"  [(ngModel)]="soap" [value]="0">No
        </div>
      </div><br>
    <div class="row">
        <div class="col-lg-3">
            <label class="dname_label">{{labels[0].referalNotess}} :</label>
            <span class="required">*</span>
        </div>

        <div class="col-lg-6">

            <ckeditor [editor]="Editor" [(ngModel)]="referalnotes" name="referalnotes" data=""></ckeditor>
        </div>

    </div><br>
    <div class="row">
        <div class="col-lg-3">
            <label for="" class="reglabel">{{labels[0].attachments}} :</label>
        </div>
        <div class="col-lg-4">
            <ngx-dropzone [multiple]="false" (filesAdded)="onattachmentUpload1($event)" class="dropzone_vendorinvoice">
            </ngx-dropzone>
        </div>
        <div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5">
        </div>
        <div class="col-lg-2">
            <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
                (click)="insertdetails()">{{labels[0].save}}</button>
        </div>
        <div class="col-lg-5">
        </div>
    </div>

</div>
<br>
<div id="qwerty">
</div>
