<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9" style="margin-top: -2px;">
      <h5>{{labels[0].sickSlipGenerator}}</h5>
    </div>
    <div class="col-lg-3" style="margin-top: -12px;text-align: end;">
      <button type="button" routerLink="/SickSlipDashboard" class="btn btncolor">{{labels[0].dashboard}}</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <br>
  <div *ngIf="paramid==undefined" class="row">
    <div class="col-lg-3">
      <label>{{labels[0].patientname}} : </label>
      <span style="color: red;">*</span>
    </div>
    <div class="col-lg-4">
      <select class="form-control" (change)="GetPatientdetails($event)">
        <option value="">{{labels[0].selectt}}</option>
        <option *ngFor="let pat of patientlist" value="{{pat.patientID}}">{{pat.patientName}}</option>
      </select>
      <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [data]="patientlist" [settings]="docdd"
        (onSelect)="GetPatientdetails($event)">
      </ng-multiselect-dropdown> -->
    </div>
  </div>
  <br>
  <!-- <div class="row">
    <div class="col-lg-3">
      <label>Patient Name </label>
      <span style="color: red;">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" [(ngModel)]="patientname" placeholder="Patient Name" name="patientname" disabled
        class="form-control"><br>
    </div>
  </div> -->
  <div *ngIf="paramid!=undefined" class="row">
    <div class="col-lg-3">
      <label>{{labels[0].patientname}}: </label>
      <span style="color: red;">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" [(ngModel)]="patientname" placeholder="{{labels[0].patientname}}" name="patientname" disabled
        class="form-control"><br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].patientNumber}} : </label>
      <span style="color: red;">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" [(ngModel)]="phonenumber" placeholder="{{labels[0].patientNumber}}" name="phonenumber" disabled
        class="form-control"><br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].email}} :</label>
      <span style="color: red;">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" [(ngModel)]="email" placeholder="{{labels[0].email}}" name="email" disabled
        class="form-control"><br>
    </div>
  </div>



  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].from}} : </label>
      <span style="color: red;">*</span>
    </div>
    <div class="col-lg-4">
      <input *ngIf="languageid==1" type="text" placeholder="MM/DD/YYYY" class="form-control"
        [bsConfig]="{ showWeekNumbers:false }" name="fromdate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
        [(ngModel)]="fromdate" bsDatepicker>
      <input *ngIf="languageid==6" type="text" placeholder="jj/mm/aa" class="form-control"
        [bsConfig]="{ showWeekNumbers:false }" name="fromdate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
        [(ngModel)]="fromdate" bsDatepicker>
      <!-- <input type="date" [(ngModel)]="fromdate" name="fromdate" class="form-control"><br> -->
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].to}} :</label>
      <span style="color: red;">*</span>
    </div>
    <div class="col-lg-4">
      <input *ngIf="languageid==1" t type="text" placeholder="MM/DD/YYYY" class="form-control"
        [bsConfig]="{ showWeekNumbers:false }" name="todate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
        [(ngModel)]="todate" bsDatepicker>
      <input *ngIf="languageid==6" type="text" placeholder="jj/mm/aa" class="form-control"
        [bsConfig]="{ showWeekNumbers:false }" name="todate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
        [(ngModel)]="todate" bsDatepicker>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].leaveOfAbsence}} : </label>
      <span style="color: red;">*</span>
    </div>
    <br>
    <div class="col-lg-2">
      <input type="radio" value="{{labels[0].school}}" [(ngModel)]="leavefor" name="todate" (change)="Getscholladate()">
      {{labels[0].school}}
    </div>
    <div class="col-lg-2">
      <input type="radio" value="{{labels[0].office}}" [(ngModel)]="leavefor" name="todate" (change)="Getscholladate()">
      {{labels[0].office}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].ailment}} : </label>
      <span style="color: red;">*</span>
    </div>
    <div class="col-lg-4">
      <textarea rows="4" [(ngModel)]="ailment" placeholder="{{labels[0].ailment}}" name="ailment"
        class="form-control"></textarea>
      <!-- <input type="text" [(ngModel)]="ailment" placeholder="Ailment" name="ailment" class="form-control"><br> -->
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btncolor" style="background-color: #f18235;"
        (click)="InsertSickSlipGenarator()">{{labels[0].generate}}</button>
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <br>
</div>

<div id="qwerty">
</div>

<!-- <h3 style="text-align: center;">SICK SLIP</h3>
<p style="float: right;">DATE: {{todaydate}}</p>
<br>
<p>To Whom It May Concern:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THIS IS TO CERTIFY THAT {{patientname}} of
  {{address}} was examined and treated on {{todaydate}} with following diagnosis: {{ailment}} and
  would require rest from {{fromdate}} to {{todate}} barring complication.</p>
<p style="float: right;"><u>{{doctorname}}</u></p> -->