
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9" >
      <h5 >{{labels[0].workingdetails}}</h5>
    </div>
    <div class="col-lg-3" style="text-align: end;">
      <button style="margin-top:-10px" type="button" class="btn  btncolor" routerLink="/Diagnosticcenterslots">{{labels[0].add}}</button>
    </div>
  </div>
</div>
<br>

<div class="container-fluid card card-hover">
  <div class="row" style="margin-top:10px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="term" name="term">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].diagnosticCenter}}</th>
            <th>{{labels[0].day}}</th>
            <th>{{labels[0].morning}}</th>
            <th>{{labels[0].afternoon}}</th>
            <th>{{labels[0].evening}}</th>
            <th>{{labels[0].night}}</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let details of Workingdetails|filter:term">
            <td>{{details.diagnosticCenterName}}</td>
            <td>{{details.dayOfTheWeek}}</td>
            <td>{{details.mrngStartTime}} - {{details.mrngEndTime}}
              <br>
              <ng-template #tipcontent6>Edit</ng-template>
              <a [ngbTooltip]=" tipcontent6">
                <img src="assets/Images/edit.png" title="Edit" data-toggle="modal" data-target="#myModal"
                  style="width: 20px" (click)="GetDiagnosticID(details.diagnosticCenterID,details.dayID,1)">
              </a>&nbsp;
              <ng-template #tipcontent7>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent7">
                <img src="assets/Images/dell.png" title="Delete" style="width: 20px" (click)="deleteTimeWise(details.diagnosticCenterID,details.dayID,1)">
              </a>

            </td>
            <td>{{details.afternoonStartTime}} - {{details.afternoonEndTime}}
              <br>
              <a [ngbTooltip]=" tipcontent6">
                <img src="assets/Images/edit.png" title="Edit" data-toggle="modal" data-target="#myModal"
                  style="width: 20px" (click)="GetDiagnosticID(details.diagnosticCenterID,details.dayID,2)">
              </a>&nbsp;
              <ng-template #tipcontent7>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent7">
                <img src="assets/Images/dell.png" title="Delete" style="width: 20px" (click)="deleteTimeWise(details.diagnosticCenterID,details.dayID,2)">
              </a>
            </td>
            <td>{{details.evngStartTime}} - {{details.evngEndTime}}
              <br>
              <a [ngbTooltip]=" tipcontent6">
                <img src="assets/Images/edit.png" title="Edit" data-toggle="modal" data-target="#myModal"
                  style="width: 20px" (click)="GetDiagnosticID(details.diagnosticCenterID,details.dayID,3)">
              </a>&nbsp;
              <ng-template #tipcontent7>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent7">
                <img src="assets/Images/dell.png" title="Delete" style="width: 20px" (click)="deleteTimeWise(details.diagnosticCenterID,details.dayID,3)">
              </a>
            </td>
            <td>{{details.nightStartTime}} - {{details.nightEndTime}}
              <br>
              <a [ngbTooltip]=" tipcontent6">
                <img src="assets/Images/edit.png" title="Edit" data-toggle="modal" data-target="#myModal"
                  style="width: 20px" (click)="GetDiagnosticID(details.diagnosticCenterID,details.dayID,4)">
              </a>
              &nbsp;
              <ng-template #tipcontent7>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent7">
                <img src="assets/Images/dell.png" title="Delete" style="width: 20px" (click)="deleteTimeWise(details.diagnosticCenterID,details.dayID,4)">
              </a>
            </td>
            <td>
              <ng-template #tipcontent7>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]=" tipcontent7">
                <img src="assets/Images/dell.png"  
                  style="width: 20px" (click)="DeleteDaySlots(details.diagnosticCenterID,details.dayID)">
              </a>

            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <br>
</div>
<br>
<br>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Slots</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12" *ngIf="timeid==1">
            <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="dis1=='1'" [(ngModel)]="dropdownclear1" [data]="slotslist"
              [settings]="slotsdd" (onSelect)="GetMrngSlotsID($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-lg-12" *ngIf="timeid==2">
            <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="dis2=='1'" [(ngModel)]="dropdownclear2" [data]="slotslist1"
              [settings]="slotsdd1" (onSelect)="GetAfternoonSlotsID($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-lg-12" *ngIf="timeid==3">
            <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="dis3=='1'" [(ngModel)]="dropdownclear3" [data]="slotslist2"
              [settings]="slotsdd2" (onSelect)="GetEvngSlotsID($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-lg-12" *ngIf="timeid==4">
            <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="dis4=='1'" [(ngModel)]="dropdownclear4" [data]="slotslist3"
              [settings]="slotsdd3" (onSelect)="GetNightSlotsID($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4">

          </div>

          <div class="col-lg-4">
            <button type="button" data-dismiss="modal" class="btn btn-block btncolor"
              (click)="insertdetails()">Update</button>
          </div>
          <div class="col-lg-4">

          </div>

        </div>
      </div>
    </div>
  </div>
</div>