<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">

      <h5>{{labels[0].doctorServices}}</h5>

    </div>
    <div class="col-lg-7">

    </div>
    <div class="col-lg-2">

      <button type="button" routerLink="/Doctorservices" class="btn btncolor" *ngIf="languageid==1">Add Doctor Service</button>
      <button type="button" routerLink="/Doctorservices" class="btn btncolor" *ngIf="languageid==6">Ajouter des services</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <select class="form-control" (change)="GetDepartmentID($event)">
        <option value="0" *ngIf="languageid==1">Select Department</option>
        <option value="0" *ngIf="languageid==6">sélectionnez un service</option>
        <option *ngFor="let couu of DepartmentList"  value={{couu.id}}>{{couu.departmentname}}</option>
       
      </select>
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetDoctorID($event)">
        <option value="0" *ngIf="languageid==1">Select Doctor</option>
        <option value="0" *ngIf="languageid==6">sélectionner Médecin </option>
        <option *ngFor="let couu of doctorlist" value={{couu.id}}>{{couu.doctorName}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].doctor}}</th>
            <th>{{labels[0].department}}</th>
            <th>{{labels[0].servicesOffered}}</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr *ngFor="let details of servicelist| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}|filter:term">
            <td>{{details.doctorName}}</td>
            <td>{{details.departmentname}}</td>
            <td>{{details.serviceName}}</td>
            <td>
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" style="width: 18px;margin-left: 10px;" (click)="DeleteDiagnostocServces(details.id)">
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <br>
  </div>
  <br>
  <br>
  <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true" responsive="true"
      previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  <br>
  <br>
  <br>
</div>
<br>
<br>