<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9" style="margin-top: -2px;">
      <h5>{{labels[0].sickSlipDashboard}}</h5>
    </div>
    <div class="col-lg-3" style="text-align: end;margin-top: -12px;">
      <button *ngIf="languageid=='1'" type="button" routerLink="/SickSlipGenerator" class="btn btncolor">Add</button>
      <button *ngIf="languageid=='6'" type="button" routerLink="/SickSlipGenerator"
        class="btn btncolor">Ajouter</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder="{{labels[0].search}}" [(ngModel)]="term" name="term">
      <br>
    </div>
    <br>
    <div class="col-lg-12">
      <table>
        <tr>
          <th>{{labels[0].patientname}}</th>
          <th>{{labels[0].patientNumber}}</th>
          <th>{{labels[0].email}}</th>
          <th>{{labels[0].sickSlip}}</th>
          <th>{{labels[0].email}}</th>
        </tr>
        <tr *ngFor="let ss of sicksliplist|filter:term">
          <td>{{ss.patientName}}</td>
          <td>{{ss.mobileNumber}}</td>
          <td>{{ss.emailID}}</td>
          <td>
            <button class="btn btncolor" (click)="getdesc(ss)" data-toggle="modal"
              data-target="#myModal">{{labels[0].view}}</button>
          </td>
          <td>
            <button type="button" class="btn btncolor" (click)="sendmail(ss)">{{labels[0].send}}</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
</div>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-9" style="margin-top:100px">
            <p [innerHTML]="desc"></p>
          </div>
          <div class="col-lg-3">
            <p style="color:#25116A; font-family: book man old;font-size: 17px;">{{doctorname}}</p>
            <p style="color:#25116A;margin-top: -12px;font-family: book man old;font-size: 17px;">{{hospital_ClinicName}}</p>
            <p  style="color:#25116A;margin-top: -12px;font-family: book man old;font-size: 17px;">{{address}}</p>
            <p  style="color:#25116A;margin-top: -12px; font-family: book man old;font-size: 17px;">{{registrationNo}}</p>
            <p  style="color:#25116A;margin-top: -12px;font-family: book man old;font-size: 17px;">{{docmobileno}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="GetSickSlipID()" data-toggle="modal" data-target="#exampleModalCenterSickSlip"
          style="background-color: #f18235; color: white;" class="btn btn-default">{{labels1[0].edit}}</button>
        <button id="close" type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenterSickSlip" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{labels[0].generateSickSlip}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <br>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
              <label>
                <b>{{labels1[0].patientname}}: </b>
              </label>
              <span style="color: red;">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" [(ngModel)]="patientname" placeholder="{{labels1[0].patientname}}" name="patientname"
                disabled class="form-control">
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
              <label>
                <b>{{labels1[0].patientNumber}} :</b>
              </label>
              <span style="color: red;">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" [(ngModel)]="phonenumber" placeholder="{{labels1[0].patientNumber}}" name="phonenumber"
                disabled class="form-control">
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
              <label>
                <b>{{labels1[0].email}}</b> :</label>
              <span style="color: red;">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" [(ngModel)]="email" placeholder="{{labels1[0].email}}" name="email" disabled
                class="form-control">
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
              <label>
                <b>{{labels1[0].from}} :</b>
              </label>
              <span style="color: red;">*</span>
            </div>
            <div class="col-lg-4">
              <input *ngIf="languageid==1" type="text" class="form-control" placeholder="MM/DD/YYYY"
                [bsConfig]="{ showWeekNumbers:false }" name="fromdate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                [(ngModel)]="fromdate" bsDatepicker>
              <input *ngIf="languageid==6" type="text" class="form-control" placeholder="jj/mm/aa"
                [bsConfig]="{ showWeekNumbers:false }" name="fromdate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                [(ngModel)]="fromdate" bsDatepicker>
              <!-- <input type="date" [(ngModel)]="fromdate" name="fromdate" class="form-control"> -->
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
              <label>
                <b>{{labels1[0].to}}</b> :</label>
              <span style="color: red;">*</span>
            </div>
            <div class="col-lg-4">
              <input *ngIf="languageid==1" type="text" class="form-control" placeholder="MM/DD/YYYY"
                [bsConfig]="{ showWeekNumbers:false }" name="todate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                [(ngModel)]="todate" bsDatepicker>
              <input *ngIf="languageid==6" type="text" class="form-control" placeholder="jj/mm/aa"
                [bsConfig]="{ showWeekNumbers:false }" name="todate" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                [(ngModel)]="todate" bsDatepicker>
              <!-- <input type="date" [(ngModel)]="todate" name="todate" class="form-control"> -->
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
              <label>
                <b>{{labels1[0].leaveOfAbsence}} :</b>
              </label>
              <span style="color: red;">*</span>
            </div>
            <div class="col-lg-2">
              <input type="radio" value="{{labels1[0].school}}" [(ngModel)]="leavefor" name="leavefor">
              {{labels1[0].school}}
            </div>
            <div class="col-lg-2">
              <input type="radio" value="{{labels1[0].office}}" [(ngModel)]="leavefor" name="leavefor">
              {{labels1[0].office}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
              <label>
                <b>{{labels1[0].ailment}} :</b>
              </label>
              <span style="color: red;">*</span>
            </div>
            <div class="col-lg-4">
              <textarea rows="4" [(ngModel)]="ailment" placeholder="{{labels1[0].ailment}}" name="ailment"
                class="form-control"></textarea>
              <!-- <input type="text" [(ngModel)]="ailment" placeholder="Ailment" name="ailment" class="form-control"><br> -->
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btncolor" style="background-color: #f18235;"
                (click)="UpdateSickSlip()">{{labels1[0].savee}}</button>
            </div>
            <div class="col-lg-5">
            </div>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button id="close1" type="button" style="background-color: #f18235; color: white;" class="btn  btn-default"
          data-dismiss="modal">{{labels1[0].close}}</button>
      </div>
    </div>
  </div>
</div>
<!-- <div id="Edit" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <br>
          </div>
          <div class="col-lg-12">
            <ckeditor [editor]="desc" [(ngModel)]="desc" name="desc" data=""></ckeditor>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div> -->