<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-9">
      <h4>Frequently Asked Questions </h4>
    </div>
    <div class="col-lg-2">
      <img src="assets/Images/logo.png" >
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let details of faqlist" >
      <div class="col-lg-12">
        <b>{{details.faq}}</b>
      </div>&nbsp;&nbsp;
      <div class="col-lg-12">
        <p innerHTML="{{details.answers}}"></p>      
      </div>
      <div class="col-lg-10"></div>
      <div class="col-lg-1" > 
        <!-- <button (click)="GetImagesID(details.id)" data-toggle="modal" data-target="#exampleModalLong2" style="color:white">Images And Pdf</button> -->
        <img src="assets/Images/imgicon.png" title="Images" 
        (click)="GetImagesID(details.id)" *ngIf="details.imageExist==1" data-toggle="modal" data-target="#exampleModalLong2"
          style="margin: 2%;width: 20px;" />&nbsp;
       </div>&nbsp;&nbsp;
   
  </div><br>
</div>


<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Photos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" >
            <div class="col-lg-6" *ngFor="let showphoto of showimages">
              <br>
              <img src="{{showphoto.photoUrl}}" style="width: 100%;" />
              <br>
            </div>
            <br>
          </div>
          <br>
        
          <br>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235; color: white;"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>