<br>
<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <span>Date </span>
    </div>
    <div class="col-lg-4">
      <input *ngIf="languageid==1" type="text" class="form-control" placeholder="MM/DD/YYYY"
        [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="daychangedate"
        (ngModelChange)="GetdaychangeDate($event)" [minDate]="today"
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>

      <input *ngIf="languageid==6" type="text" class="form-control" placeholder="jj/mm/aa"
        [bsConfig]="{ showWeekNumbers:false }" [minDate]="today" [(ngModel)]="daychangedate1"
        (ngModelChange)="GetdaychangeDate($event)" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>
    </div>
  </div><br>
  </div>