<div class="container-fluid card card-hover">
  <!-- <div class="col-lg-12" *ngFor="let details of faq">
      <p innerHTML="{{details.faq}}"></p>
    </div> -->
  <br>
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-7">
      <h4>Frequently Asked Questions About VoilaDoc</h4>
    </div>
    <div class="col-lg-4">
      <img src="assets/Images/logo.png" style="margin-top:5px;">
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let details of faq">
    <div class="col-lg-12">
      <b>{{details.faq}}</b>
    </div>&nbsp;&nbsp;
    <div class="col-lg-12">
      <p innerHTML="{{details.answers}}"></p>
    </div>
  </div><br>
</div>