.headerspace{
    margin-top: 10px;
    text-transform:uppercase;
  }
  th::first-letter{
    text-transform: uppercase;
  }
  th{
    text-transform: lowercase;
  }

  .rectangle {
    height: 30px;
    width: 100px;
    background-color: #bae6fb;
    color:black;
  }

  .vdioerect
  {
    height: 30px;
    width: 100px;
    background-color: #4e66b0;
    color:white;
  }

  .homevisit
  {
    height: 30px;
    width: 100px;
    background-color: #90EE90;
    color:black;
  }