<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9">
      <h5>{{labels[0].myWorkingdetails}}</h5>
    </div>
    <div class="col-lg-3" style="text-align: end;margin-top: -12px;">
      <button type="button" class="btn  btncolor" (click)="addnew()">{{labels[0].add_Working_Details}}</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card-hover">
  <div class="row" style="margin-top:10px;">
    <div class="col-lg-3">
      <!-- <select value="" selected class="form-control" (change)="GetHospital($event)">
        <option>{{labels[0].selectHospital}}</option>
        <option *ngFor="let hos of hopitsllist" value="{{hos.hospital_ClinicName}}">{{hos.hospital_ClinicName}}</option>
      </select> -->
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search">
    </div>
    <div class="col-lg-3">
      <!-- <select class="form-control" name="daysname" [(ngModel)]="daysname" (change)="GetDaysName($event)">
        <option value="0">{{labels[0].selectday}}</option>
        <option *ngFor="let days of dayslist" value={{days.dayOfTheWeek}}>{{days.dayOfTheWeek}}</option>
      </select> -->
    </div>
    <div class="col-lg-1">
      <div class="rectangle">
        <span style="margin-left: 5px;">{{labels[0].inclinic}}</span>
      </div>
    </div>
    <div class="col-lg-1">
      <div class="vdioerect">
        <span style="margin-left: 11px;">{{labels[0].video}}</span>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="homevisit">
        <span style="margin-left: 11px;">{{labels[0].homeVisit}}</span>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <!-- <tr>
            <th>{{labels[0].hospitalOrClinicName}}</th>
            <th>{{labels[0].day}}</th>
            <th>{{labels[0].morning}}</th>
            <th>{{labels[0].afternoon}}</th>
            <th>{{labels[0].evening}}</th>
            <th>{{labels[0].night}}</th>
            <th>{{labels[0].actions}}</th> -->
          <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
          <tr *ngFor="let details of Timings|filter:search">
            <td>{{details.slotname}}</td>
            <td [style.background-color]="details.mondayColor">{{details.monday}}</td>
            <td [style.background-color]="details.tuesdayColor">{{details.tuesday}}</td>
            <td [style.background-color]="details.wednesdayColor">{{details.wednesday}}</td>
            <td [style.background-color]="details.thursdayColor">{{details.thursday}}</td>
            <td [style.background-color]="details.fridayColor">{{details.friday}}</td>
            <td [style.background-color]="details.saturdayColor">{{details.saturday}}</td>
            <td [style.background-color]="details.sundayColor">{{details.sunday}}</td>
          </tr>

          <!-- <tr *ngFor="let doc of workingdetails|filter:hopitslname|filter:daysname">
            <td>{{doc.hospital_ClinicName}}</td>
            <td>{{doc.dayOfTheWeek}}</td>
            <td [style.background-color]="doc.mrngAppointtypeID" [style.color]="doc.mtextcolor">
              {{doc.mrngStartTime}} to {{doc.mrngEndTime}}
              <br>
              <ng-template #tipcontent6>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]=" tipcontent6">
                <img src="assets/Images/edit.png" title="Edit" (click)="gettimeid(1,doc.id,doc.hospital_ClinicID,doc.dayID,doc.mrngtypeid)"
                  data-toggle="modal" data-target="#myModal" style="width: 20px">
              </a>
              &nbsp;&nbsp;
              <ng-template #tipcontent7>delete</ng-template>
              <a [ngbTooltip]="tipcontent7">
                <img src="assets/Images/dell.png" title="Delete" (click)="deleteparticular(doc.id,doc.dayID,1)" style="width: 20px">
              </a>
            </td>
            <td [style.background-color]="doc.afternoonAppointmentTypeID" [style.color]="doc.atextcolor">
              {{doc.noonStartTime}} to {{doc.noonEndTime}}
              <br>
              <ng-template #tipcontent6>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent6">
                <img src="assets/Images/edit.png" title="Edit" (click)="gettimeid(2,doc.id,doc.hospital_ClinicID,doc.dayID,doc.aftrenoontypeid)"
                  data-toggle="modal" data-target="#myModal" style="width: 20px">
              </a>
              &nbsp;&nbsp;
              <ng-template #tipcontent7>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent7">
                <img src="assets/Images/dell.png" title="Delete" (click)="deleteparticular(doc.id,doc.dayID,2)" style="width: 20px">
              </a>
            </td>
            <td [style.background-color]="doc.eveningAppointmentTypeID" [style.color]="doc.etextcolor">
              {{doc.evngStartTime}} to {{doc.evngEndTime}}
              <br>
              <ng-template #tipcontent6>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent6">
                <img src="assets/Images/edit.png" title="Edit" (click)="gettimeid(3,doc.id,doc.hospital_ClinicID,doc.dayID,doc.evngtypeid)"
                  data-toggle="modal" data-target="#myModal" style="width: 20px">
              </a>
              &nbsp;&nbsp;
              <ng-template #tipcontent7>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent7">
                <img src="assets/Images/dell.png" title="Delete" (click)="deleteparticular(doc.id,doc.dayID,3)" style="width: 20px">
              </a>
            </td>
            <td [style.background-color]="doc.nightAppointmentTypeID" [style.color]="doc.ntextcolor">
              {{doc.nightStartTime}} to {{doc.nightEndTime}}
              <br>
              <ng-template #tipcontent6>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent6">
                <img src="assets/Images/edit.png" title="Edit" (click)="gettimeid(4,doc.id,doc.hospital_ClinicID,doc.dayID,doc.nighttypeid)"
                  data-toggle="modal" data-target="#myModal" style="width: 20px">
              </a>
              &nbsp;&nbsp;
              <ng-template #tipcontent7>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent7">
                <img src="assets/Images/dell.png" title="Delete" (click)="deleteparticular(doc.id,doc.dayID,4)" style="width: 20px">
              </a>
            </td>
            <td>
              <ng-template #tipcontent1>{{labels[0].edit}}</ng-template>
            
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" style="width: 20px;margin-left: 10px;" (click)="deletebydochspid(doc.id,doc.dayID)">
              </a>
         
            </td>
          </tr> -->
        </thead>
      </table>
    </div>
  </div>
  <br>
</div>
<br>
<br>

<!-- 
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
   
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{labels[0].edit_Slots}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>
          <span *ngIf="timeid==1">{{labels[0].morning}}</span>
          <span *ngIf="timeid==2">{{labels[0].afternoon}}</span>
          <span *ngIf="timeid==3">{{labels[0].evening}}</span>
          <span *ngIf="timeid==4">{{labels[0].night}}</span>
          <br>
          <br>
          <b>{{labels[0].select_Start_Time}}</b>
        </p>

        <div class="row">
        
          <div class="col-lg-12">
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="1"> &nbsp; {{labels[0].inclinic}} &nbsp;
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="2"> &nbsp; {{labels[0].video}} &nbsp;
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="5"> &nbsp; {{labels[0].homeVisit}}
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-12" *ngIf="timeid==1">
            <ng-multiselect-dropdown [placeholder]="Select" [disabled]="abcd==1" name="cleardropdown1" [(ngModel)]="cleardropdown1" [data]="slotslist"
              [settings]="slotsdd" (onSelect)="GetMorningSlotsID($event)" (onDeSelect)="onItemDeSelect($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-lg-12" *ngIf="timeid==2">
            <ng-multiselect-dropdown [placeholder]="Select" [disabled]="dis1==1" name="cleardropdown2" [(ngModel)]="cleardropdown2" [data]="slotslist1"
              [settings]="slotsdd1" (onSelect)="GetAfternoonSlotsID($event)" (onDeSelect)="onItemDeSelect1($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-lg-12" *ngIf="timeid==3">
            <ng-multiselect-dropdown [placeholder]="Select" name="cleardropdown3" [disabled]="dis2==1" [(ngModel)]="cleardropdown3" [data]="slotslist2"
              [settings]="slotsdd2" (onSelect)="GetEveningSlotsID($event)" (onDeSelect)="onItemDeSelect2($event)">
            </ng-multiselect-dropdown>
          </div>
          <div class="col-lg-12" *ngIf="timeid==4">
            <ng-multiselect-dropdown [placeholder]="Select" name="cleardropdown4" [disabled]="dis3==1" [(ngModel)]="cleardropdown4" [data]="slotslist3"
              [settings]="slotsdd3" (onSelect)="GetNightSlotsID($event)" (onDeSelect)="onItemDeSelect3($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <br>

        <div class="row">

          <div class="col-lg-4">

          </div>



          <div class="col-lg-4">
            <button type="button" data-dismiss="modal" class="btn btn-block btncolor" (click)="adddetails()">{{labels[0].update_label}}</button>
          </div>
          <div class="col-lg-4">

          </div>

        </div>
      </div>
    </div>
  </div>
</div> -->