<div class="container-fluid card card-hover">
  <!-- <div class="col-lg-12" *ngFor="let details of faq">
      <p innerHTML="{{details.faq}}"></p>
    </div> -->
  <br>
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-7">
      <h4>{{labels[0].howToUseDoctors}}</h4>
    </div>
    <div class="col-lg-4">
      <img src="assets/Images/logo.png" style="margin-top:5px;">
    </div>
  </div>
  <hr>
  <div class="row" *ngFor="let details of howtouselist">
    <div class="col-lg-12">
      <b>{{details.screenShotName}}</b>
    </div>&nbsp;&nbsp;<br>
    <div class="col-lg-10">
      <img src="{{details.image}}" style="height: 300px;width: 500px;">
    </div>&nbsp;&nbsp;<br>
    <div class="col-lg-12">
      <p innerHTML="{{details.description}}"></p>
    </div>
  </div><br>
</div>