<div class="container-fluid card card:hover headerspace">
    <div class="row headerspace">
        <div class="col-lg-5">
            <h5>{{labels[0].category}}</h5>
        </div>
        <div class="col-lg-5">
        </div>
        <!-- s -->
    </div>
</div>
<div class="container-fluid card card:hover divspacee">
    <form #hospitalForm="ngForm">
        <div class="row" style="margin-top:20px;">
            <div class="col-lg-3">
                <label>{{labels[0].categoryName}} :</label>
                <span class="required">*</span>
            </div>
            <div class="col-lg-5">
                <input type="text" required [(ngModel)]="categoryname" name="categoryname" class="form-control">
            </div>
        </div>
        <br>
        <div class=" row ">
            <div class="col-lg-3 ">
                <label>{{labels[0].descriptions}} :</label>
                <span class="required">*</span>
            </div>
            <div class="col-lg-5 ">
                <textarea class="form-control" rows="4 " required [(ngModel)]="description" name="description"></textarea>
            </div>
        </div>
        <br>

        <div class="row" style="margin-top:20px;" *ngIf="this.paramID==null">
            <div class="col-lg-3">
                <label>{{labels[0].photos}} :</label>
                <span class="required">*</span>
            </div>
            <div class="col-lg-5">
                <ngx-dropzone [multiple]="false" (filesAdded)="onattachmentUpload($event)" class="dropzone_vendorinvoice">
                </ngx-dropzone>
            </div>
        </div>
        <br>

        <br>
        <br>
        <div class="row ">
            <div class="col-lg-5 ">
            </div>

            <div class="col-lg-2 " *ngIf="this.paramID==null">
                <button type="button " class="btn btn-block btn-md allbtns btncolor" (click)="insertdetail()">{{labels[0].save}}</button>
            </div>
            <div class="col-lg-2 " *ngIf="this.paramID!=null">
                <button type="button " class="btn btn-block btn-md allbtns btncolor" (click)="update()">Update</button>
            </div>
            <div class="col-lg-3 ">
            </div>

        </div>
        <div class="row ">
            <div class="col-lg-5 ">
            </div>

            <div class="col-lg-5 ">
            </div>

        </div>

        <br>
        <br>
    </form>
</div>