<div class="container-fluid card card-hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-5">
      <h5>{{labels[0].doctorSlots}}</h5>
    </div>
    <div class="col-lg-3">


      <input *ngIf="languageid==1"  type="text" placeholder="MM/DD/YYYY" class="form-control"
      [bsConfig]="{ showWeekNumbers:false }"  [(ngModel)]="filterdate"  name="filterdate" (ngModelChange)="GetDate($event)" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
      bsDatepicker>
      
    <input *ngIf="languageid==6" type="text"  placeholder="jj/mm/aa" class="form-control"
      [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="filterdate"  name="filterdate" (ngModelChange)="GetDate($event)" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
      bsDatepicker>
      <!-- <input type="date" class="form-control" min={{todaydate}} [(ngModel)]="filterdate"   name="filterdate" (change)="GetDate($event)"> -->
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-lg-2" style="margin-left: 15px;">
        <h4 *ngIf="languageid=='1'">Morning</h4>
        <h4 *ngIf="languageid=='6'">Matin</h4>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
    <br>
    <div class="row" style="margin-left: 5px;">
      <br>
      <div class="col-lg-2" style="margin-left: 15px; " *ngFor="let slot of doctorslots">
        <label [routerLink]="['/Bookappments',slot.doctorSlotID,slot.slotName]"
          style="border: 1px solid lightgray;height:28px;width:65px">{{slot.slotName}}</label>
        <br>
      </div>
      <br>
    </div>
    <br>
  </div>
  <br>
</div>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-lg-2" style="margin-left: 15px;">
        <h4 *ngIf="languageid=='1'">Afternoon</h4>
        <h4 *ngIf="languageid=='6'">Après midi</h4>
      </div>
    </div>
    <br>
    <div class="row" style="margin-left: 5px;">
      <div class="col-lg-2" style="margin-left: 15px;" *ngFor="let slot of afternoonslots">
        <label [routerLink]="['/Bookappments',slot.doctorSlotID,slot.slotName]"
          style="border: 1px solid lightgray;height:28px;width:65px">{{slot.slotName}}</label>
      </div>
      <br>
    </div>
    <br>
  </div>
  <br>
</div>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-lg-2" style="margin-left: 15px;">
        <h4 *ngIf="languageid=='1'">Evening</h4>
        <h4 *ngIf="languageid=='6'">Soir</h4>
      </div>
    </div>
    <br>
    <div class="row" style="margin-left: 5px;">
      <div class="col-lg-2" style="margin-left: 15px; " *ngFor="let slot of eveningslosts">
        <label [routerLink]="['/Bookappments',slot.doctorSlotID,slot.slotName]"
          style="border: 1px solid lightgray;height:28px;width:65px">{{slot.slotName}}</label>
      </div>
      <br>
    </div>
    <br>
  </div>
  <br>
</div>
<div class="container">
  <div class="card">
    <div class="row">
      <div class="col-lg-2" style="margin-left: 15px;">
        <h4 *ngIf="languageid=='1'">Night </h4>
        <h4 *ngIf="languageid=='6'">Nuit</h4>
      </div>
    </div>
    <br>
    <div class="row" style="margin-left: 5px;">
      <div class="col-lg-2" style="margin-left: 15px; " *ngFor="let slot of nightslots">
        <label [routerLink]="['/Bookappments',slot.doctorSlotID,slot.slotName]"
          style="border: 1px solid lightgray;height:28px;width:65px">{{slot.slotName}}</label>
      </div>
      <br>
    </div>
    <br>
  </div>
  <br>
  <br>
  <br>
</div>