<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9" style="margin-top: -2px;">
      <h5>{{labels[0].diagnostic}}</h5>
    </div>
    <div class="col-lg-3" style="text-align: end;margin-top: -12px;">
      <button *ngIf="languageid==1" type="button" routerLink="/Diagnostic" class="btn btncolor">ADD</button>
      <button *ngIf="languageid==6" type="button" routerLink="/Diagnostic" class="btn btncolor">Ajouter</button>
    </div>
  </div>
</div><br>
<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].diagnosticCenter}}</th>
            <th>{{labels[0].userName}}</th>
            <th>{{labels[0].password}}</th>
            <th>{{labels[0].disable}}</th>
            <th>{{labels[0].enable}}</th>
          </tr>
          <tr
            *ngFor="let details of diagnoticloginlist|filter:term| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
            <td>{{details.diagnosticCenterName}}</td>
            <td>{{details.userName}}</td>
            <td>{{details.password}}</td>
            <ng-template #tipcontent3>{{labels[0].disable}}</ng-template>
            <td> <a [ngbTooltip]="tipcontent3" *ngIf="details.hidden=='0'">
                <button (click)="disablediagnostic(details.diagnosticCenterID)"
                  style="background-color: red;color: aliceblue;border: none;">{{labels[0].disable}}</button>
              </a></td>
            <ng-template #tipcontent2>{{labels[0].enable}}</ng-template>
            <td> <a [ngbTooltip]="tipcontent2" *ngIf="details.hidden=='1'">
                <button (click)="enablediagnostic(details.diagnosticCenterID)"
                  style="background-color: green;color: aliceblue;border: none;">{{labels[0].enable}}</button>
              </a></td>
          </tr>
        </thead>
      </table>
    </div>
  </div><br>
  <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div><br>
</div><br><br>