<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-5">
      <h5>{{labels[0].midwifeWOrkingDetails}}</h5>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover" style="margin-top:20px;">
  <br>
  <form #midwifeForm="ngForm">
    <div  class="row">
      <div class="col-lg-3">
        <label class="dname_label">{{labels[0].midwife}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <select class="form-control" (change)="getmidwifeid($event)">
          <option>{{labels[0].select}}</option>
          <option *ngFor="let mid of midwifelist" value="{{mid.id}}">{{mid.name}}</option>
        </select>
      </div>
    </div>
    <br>
    <div *ngIf="dummid==null">
      <!-- <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].workingAt}} : </label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="radio" value="1" required name="hos" (change)="Getworktypeid($event)">{{labels[0].hosptal}} &nbsp;&nbsp;
      <input type="radio" required value="2" name="hos" (change)="Getworktypeid($event)">{{labels[0].clinic}}
    </div>
  </div> -->
      <!-- <div class="row">
        <div class="col-lg-3">
          <label class="dname_label">{{labels[0].midwife}} :</label>
          <span class="required">*</span>
        </div>
        <div class="col-lg-4">
          <input type="text" id="midwifename" name="midwifename" [(ngModel)]="midwifename" class="form-control"
            disabled>
        </div>
      </div>
      <br> -->
      <div class="row">
        <div class="col-lg-3">
          <label class="dname_label">Hospital / Clinic :</label>
          <span class="required">*</span>
        </div>
        <div class="col-lg-4">
          <input type="text" id="hospital_ClinicName" name="hospital_ClinicName" [(ngModel)]="hospital_ClinicName"
            class="form-control" disabled>
        </div>
      </div><br>

    </div>
  

    <!-- <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].fees}} : </label>
    
    </div>
    <div class="col-lg-4">
      <input class="form-control" type="text"  name="fees" [(ngModel)]="fees" placeholder="{{labels[0].fees}}"
        [disabled]="table=='1'" onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
    </div>
  </div>
  <br> -->
    <div class="row">
      <div class="col-lg-3">
        <label>{{labels[0].day}} : </label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <select class="form-control" required (change)="GetDaysID($event)" [(ngModel)]="dayid" name="dayid">
          <option value="0" selected>{{labels[0].select}}</option>
          <option *ngFor="let day of dayslist" value={{day.id}}>{{day.dayOfTheWeek}}
          </option>
        </select>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <label>{{labels[0].startTime}} : </label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <select class="form-control" required [(ngModel)]="starttime" name="starttime">
          <option value="0" selected>{{labels[0].startTime}}</option>
          <option *ngFor="let day of Timeings" value={{day.slotName}}>{{day.slotName}}
          </option>
        </select>
        <!-- <input type="time" class="form-control" required [(ngModel)]="starttime" name="starttime"> -->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <label>{{labels[0].endTime}} : </label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <select class="form-control" required [(ngModel)]="endtime" name="endtime">
          <option value="0" selected>{{labels[0].endTime}}</option>
          <option *ngFor="let day of Timeings" value={{day.slotName}}>{{day.slotName}}
          </option>
        </select>
        <!-- <input type="time" class="form-control" required [(ngModel)]="endtime" name="endtime"> -->
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-5">
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-block btn-md allbtns btncolor" [disabled]="midwifeForm.form.invalid"
          (click)="adddetails()">{{labels[0].add}}</button>
      </div>
      <div class="col-lg-5">
      </div>
    </div>
    <br>
    <div class="row" *ngIf="table=='1'">
      <div class="col-lg-12">
        <table>
          <tr>
            <th>{{labels[0].day}}</th>
            <th>{{labels[0].hospitalClinic}}</th>
            <th>{{labels[0].startTime}}</th>
            <th>{{labels[0].endTime}}</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr *ngFor="let det of detailsarray">
            <td>{{det.Day}}</td>
            <td>{{det.hospitalname}}</td>
            <td>{{det.StartTime}}</td>
            <td>{{det.EndTime}}</td>
            <td>
              <img src="assets/Images/dell.png" (click)="delete(det.Sno)">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <div class="row" *ngIf="table=='1'">
      <div class="col-lg-5">
      </div>
      <div *ngIf="active==1" class="col-lg-2">
        <button type="button" class="btn btn-block btn-md allbtns btncolor"
          (click)="InsertPhysiotherapyHospitalDetailsAdmin()">{{labels[0].save}}</button>
      </div>
      <div *ngIf="active==0" class="col-lg-2">
        <button type="button" class="btn btn-block btn-md allbtns btncolor"
          (click)="InsertPhysiotherapyHospitalDetails()">{{labels[0].save}}</button>
      </div>
      <div class="col-lg-5">
      </div>
    </div>
    <br>
  </form>
</div>